.proximity-grid-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  z-index: 0;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, #000 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, #000 72%, transparent 100%);
}

.proximity-dot {
  position: absolute;
  border-radius: 50%;
  transition: width 0.14s, height 0.14s, opacity 0.14s, box-shadow 0.14s;
  pointer-events: none;
}

/* Dark mode */
.dot-dark {
  background: #090f19;
}

/* Light mode */
.dot-light {
  background: #a59573;
}

/* Mouse cursor light effect (dark mode) */
.proximity-cursorEffect.effect-light {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  border-radius: 50%;
  background: radial-gradient(circle, #fff 0%, #fffb 40%, transparent 100%);
  opacity: 0.4;
  pointer-events: none;
  filter: blur(10px);
  transition: left 0.1s, top 0.1s, background 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  z-index: 1;
}

/* Mouse cursor shadow effect (light mode) */
.proximity-cursorEffect.effect-shadow {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  border-radius: 50%;
  background: radial-gradient(circle, #000 0%, #0004 50%, transparent 100%);
  opacity: 0.18;
  pointer-events: none;
  filter: blur(12px);
  transition: left 0.1s, top 0.1s;
  z-index: 1;
}
